In [1]:
import pickle as pic
import pandas as pd

In [2]:
data=open('IC_Zero_Pt_Table.p','rb');
ourfile=pic.load(data,encoding='latin1')

In [3]:
ourfile

,PhotPlam,PhotFlam,ST Zpt,AB Zpt,GalExt,ApCor,kcor,DrizCor
275,2707.19995,3.185850e-18,22.641937,24.171335,0.184,0.122871,0,0.5625
475,4746.16210,1.823501e-19,25.747735,26.058022,0.109,0.100013,0,0.4800
814,8044.98830,7.032963e-20,26.782154,25.946527,0.051,0.096447,0,0.4800

In [66]:
import pandas as pd

file_2 = pd.read_pickle('IC_Zero_Pt_Table.p')
file_2;

## new_pickle file for ESO_137_002

In [53]:
data = {'abZpt':[24.1713, 26.059, 25.948 , 25.9463], 'GalExt':[1.096, 0.653, 0.305, 0.102],\
       'ApCor':[0.124088,0.100013,0.097634,0.176453], 'kcor':[0.019457,0.033213, 0.004671,0.022268],\
        'DrizCor':[0.5625,0.48,0.48,0.213018]} ;
df = pd.DataFrame(data,index=['275','475','814','160']); 
#df

In [54]:
df

       abZpt  GalExt     ApCor      kcor   DrizCor
275  24.1713   1.096  0.124088  0.019457  0.562500
475  26.0590   0.653  0.100013  0.033213  0.480000
814  25.9480   0.305  0.097634  0.004671  0.480000
160  25.9463   0.102  0.176453  0.022268  0.213018

In [55]:
# Save Outputs
df.to_pickle('ESO_137_002.p')

In [61]:
data=open('ESO_137_002.p','rb')
ourfile=pic.load(data)

In [62]:
ourfile

       abZpt  GalExt     ApCor      kcor   DrizCor
275  24.1713   1.096  0.124088  0.019457  0.562500
475  26.0590   0.653  0.100013  0.033213  0.480000
814  25.9480   0.305  0.097634  0.004671  0.480000
160  25.9463   0.102  0.176453  0.022268  0.213018